@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #212121;
    color: white;
    font-family: "Playwrite NG Modern", cursive;
}

.container{
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 2rem;
}

.hehe{
    position: absolute;

    bottom: 2rem;
    left: 2rem;

}

h1 {
    margin-bottom: 2em;
    font-size: 2.5em;
}

.domain-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.domain-list li {
    margin: 0.5em 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    transition: color 0.3s ease;
}

.domain-list li:hover {
    color: #ffd700;
}

.button {
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 16px;
    border: none;
    padding: 2px;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
    position: relative;
  }
  .button::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 60%;
    border-radius: 120px;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px #ffffff38;
    z-index: -1;
  }
  
  .blob1 {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 16px;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      circle 60px at 0% 100%,
      #3fe9ff,
      #0000ff80,
      transparent
    );
    box-shadow: -10px 10px 30px #0051ff2d;
  }
  
  .inner {
    padding: 14px 25px;
    border-radius: 14px;
    color: #fff;
    z-index: 3;
    position: relative;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
  }
  .inner::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 14px;
    background: radial-gradient(
      circle 60px at 0% 100%,
      #00e1ff1a,
      #0000ff11,
      transparent
    );
    position: absolute;
  }
  

  @media screen and (max-width: 830px) {

    body{
        height: 100%;
        justify-content: start;
    }
    h1 {
        margin-bottom: 1em;
        font-size: 2em;
    }
    .container {
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }

    .domain-list li {
        margin: 0.5em 0;
        font-size: 1.5em;
        justify-content: start;
        align-items: start;
        transition: color 0.3s ease;
    }
  }